{% extends 'core/base.html'%}

{% block content %}
<title>{% block title %} {{ category.title}} {% endblock %} | goksucan.com</title>


<div class="max-w-sm rounded overflow-hidden shadow-lg">
    <div class="flex flex-row">
        {% for post in category.posts.all %}
    <div class="basis-1/2">
    <img class="w-full" src="{{ post.image.url | safe}}" alt="Sunset in the mountains">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{ post.title}}</div>
      <p class="text-gray-700 text-base">{{post.intro}}      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{post.category.title}</span>
      {% endfor %}
    </div>
  </div>
</div>
</div>


{% endblock %}

